<div id="container">
  <div class="left-pane">
    <p>
      <b>Name:</b>
      <%=h @user.name %>
    </p>

    <!-- helper? -->
    <% if is_current_user? @user %>
      This is you!
    <% elsif user_logged_in? %>             
      <% if following? @user %>
        Following!<br />
        <%= link_to "Unfollow", subscription_path(:friend_id => @user.id, :friend_name => @user.name), :method => :delete %>
      <% else %>
        <%= link_to "Follow", subscriptions_path(:friend_id => @user.id, :friend_name => @user.name), :method => :post %>
      <% end %>
    <% end %>
    
    <%= render :partial => "shared/tweets_timeline", :locals => { :tweets => @tweets } %>
  </div>
  <div class="right-pane">
    <%= render :partial => "shared/user_info", :layout => "shared/user_info_layout", :locals => { :user => @user} %>
  </div>
</div>
