<div id="container">
  <div class="left-pane">
    <p>
      <b>Name:</b>
      <%=h @user.name %>
    </p>


    <% form_for :tweet, @tweet, :url => tweet_url(@user.id) do |f| %>
      <%= f.text_area :body, :rows => 2, :cols => 40 %>
      <%= f.submit "Tweet", :class => "submit" %>
    <% end %>

    
    <%= render :partial => "shared/tweets_timeline", :layout => "shared/tweets", :locals => { :tweets => @tweets } %>
  </div>
  <div class="right-pane">
    <%= render :partial => "shared/user_info", :layout => "shared/user_info_layout", :locals => { :user => @user} %>
  </div>
</div>

